// Mixins Here

.button-style () {
    text-align: center;
    align-items: flex-start;
    padding: @padding;
    width: 10rem;
    background-color: @pushme;
    color: white;
    font-size: 20px;
    border-radius: 5px;
        &:hover {
            background-color: white;
            color: @pushme;
        }
}

.img-style() {
    width: 28%;
    margin: 20px 2.5%;
    height: 100%;
    border-radius: 20px;
    animation-name: Rising;
    animation-duration: 4s;
}
@keyframes Rising {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 1; transform: translateY(0px);}
  }
.behave() {
    display: flex;
    flex-direction: column;
    width: 100%;
}